body {
    background-image: url(blue_purple.jpeg);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #6495ED;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
}

.query-box {
    background-color: #6050DC;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-box {
    background-color: #6050DC;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: grid;
    gap: 10px;
}

input,
select {
    padding: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .query-box,
    .contact-box {
        padding: 10px;
    }
}